openapi: 3.0.1
info:
  title: Disclosure-refuse-Service API Description
  description: |2

    # Beschreibung
    Es soll nach OSP ein GEKO geschrieben werden, wenn i.R. der Anforderung von Dokumenten der Kunde die Einreichung generell verweigert.
    Verweigert der Kunde die Offenlegung seiner wirtschaftlichen Verhältnisse, soll dies  in OSP geschrieben werden. 
    Dafür gibt es bisher kein Kennzeichen. Es wird ein neuer GeKo bzw. eine neue Rolle benötigt.
    
    # Rahmenbedingungen
    Welche Rahmenbedingungen sind zu beachten, damit der Service genutzt werden kann, insbesondere
      - Rechte: Der aufrufende User muss in ESBConfig die Berechtigung zum Aufruf von Service 'DynsBA'/Domäne OSP besitzen. 
        Zur Abfrage von Daten zu Mitarbeitern (Organkennzeichen gesetzt) benötigt der zugeordnete SUSer das Privileg 'MITARBEITER'. 
        Falls das Zugriffsschutz-Kennzeichen einer gesuchten Personen gesetzt ist
        (ZUGRIFFSSCHUTZ_KZ = 'J' ), benötigt der Anwender das Privileg 'ZUGRIFF-PERS'.
      - Verfügbarkeitszeiten: Wann ist der Service verfügbar?
      - Offene Detailpunkte:
      - Rechte: Im Zielzustand sollte mit der Vergabe des Rechts zur Nutzung des Service auch alle darunterliegenden Rechte, die erforderlich sind, angelegt werden (Service-Gedanke)
      - Serviceparameter: weitergehende Regelungen wie Quotas etc. sind nicht Teil der Swagger-Dokumentation, sondern Parameter im API-Gateway, werden dort gepflegt und publiziert

    # Domäne/Subdomäne
      - der Service ist der fachlichen Domäne 'Customer' zugeordnet.
     
    # IT-System(-nummer)
      -  IT-System: nicht bekannt
     
    # Offene Detailpunkte
      - Welche Eigenschaften erbt der Service von dem System?
      - Werden diese Eigenschaften beim Service im API-Verzeichnis mit publiziert (Komfort) und/oder das IT-System verlinkt.
      - Wird die Systemnummer publiziert?

    # Schutzniveau
    Schutz-Niveau des IT-Systems oder geringer

    # Release-Notes
    2020-05-14: V0.9.71 Datumsformat ISO yyyy-MM-dd

    # Status
    Version 0.9.71: ein MockUp Service. Dieser liefert ein Objekt namens DisclosureRefuse also Offenlegung-verweigert-Daten.

    # Offene Detailpunkte
    Welche Ausprägungen bilden wir da ab? Mögliche Quellen: Statusausprägungen, die ApiOmat im Zuge Versionierung anbietet und/oder Packaging Konzepte z.B. für Python
  version: 0.9.71
  termsOfService: /agb
  contact:
    name: Nicholas Trawniczek
    url: http://api.lbbw.de
    email: Nicholas.Trawniczek@lbbw.de
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  x-keywords: Verweigerung, Offenlegung
  x-logo:
    altText: LBBW logo
    url: https://www.lbbw.de/res/images/logos/lbbw-logo-darkblue_131586_m.svg
externalDocs:
  description: Diese Dokumentation basiert auf der Open Api Specification V3.
  url: https://github.com/OAI/OpenAPI-Specification
servers:
- url: https://api.bp.entw.bank.lbbw.sko.de/customer/disclosure-service/
  description: API-Verzeichnis
- url: https://esb.bp.entw.bank.lbbw.sko.de/customer/disclosure-service/
  description: ESB-Service Integrationsumgebung

tags:
  - name: update disclosure refuse
    description: Schreibe Offenlegungspflichtkennzeichen zum Kunden nach OSPlus
  - name: refuse_model
    x-displayName: Das Offenlegungspflichtkennzeichen-Datenmodell
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/Refuse" showReadOnly={true} showWriteOnly={true} />

x-tagGroups:
  - name: Refuse
    tags:
      - update disclosure refuse
  - name: Models
    tags:
      - refuse_model

paths:
  /refuse/{customerId}:
    parameters:
      - $ref: '#/components/parameters/servicePathParam'
      - $ref: '#/components/parameters/x-forwarded-protoParm'
      - $ref: '#/components/parameters/x-forwarded-hostParam'
    put:
      operationId: updateDisclosureRefuseByCustomerId
      summary: Schreiben der Offenlegungspflicht-verweigert-Daten
      description: Aktualisiert und liefert Offenlegungspflicht-verweigert-Daten zu einem Kunden-Datensatz zurück
      tags:
      - update disclosure refuse
      parameters:
      - name: customerId
        in: path
        description: KUSA
        required: true
        schema:
          $ref: '#/components/schemas/CustomerId'

      requestBody:
        description: Disclosure-refuse
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/RefuseRequest'
      
      responses:
        200:
          description: Disclosure refuse successfully updated.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/RefuseResponse'
        400:
          description: Invalid Request
          content: 
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

security:
  - EsbAuthorization: []
    appId: []

components:
  schemas:
    RefuseRequest:
      type: object
      properties: 
        data:
          $ref: '#/components/schemas/Refuse'
      example:
        data:
          date: '2020-02-02T14:25:00.000+02:00'
          customer_type: 52.0
          gen_con_type: 'GENKON-PERS'
          gen_con_class: 'LBBWEXT004'
          
    RefuseResponse:
      type: object
      properties: 
        data:
          $ref: '#/components/schemas/Refuse'
        links:
          type: object
          properties:
            self:
              type: string
              description: Link zu dieser Ressourcenabfrage
      example:
        data:
          - type: refuses
            id: '43525748'
            attributes:
                date: '2020-02-02T14:25:00.000+02:00'
                customer_type: 52.0
                gen_con_type: 'GENKON-PERS'
                gen_con_class: 'LBBWEXT004'
        links:
          self: 'http://api.lbbw.de/customer/disclosure-service/refuse/43525748'
    
    Refuse:
      type: object
      description: Datenmodell Offenlegungspflicht-verweigert.
      properties:
        id:
          type: string
          description: "eindeutiger Schlüssel der Offenlegungspflicht-verweigert-Daten"
          example: "43525748"
        type:
          type: string
          description: Objekt Type
          enum: [refuses]
          example: refuses
        attributes:
          type: object
          properties:
            date:
              type: string
              description: Verweigerung erfolgt am.
              example: "2019-04-12T14:25:00.000+02:00"
              format: date-time
            customer_type:
              type: number
              description: Kunden Art.
              example: 52.0
            gen_con_type:
              type: string
              description: Typ des generischen Konstrukts.
              example: GENKON-PERS
            gen_con_class:
              type: string
              description: Klasse des generischen Konstrukts.
              example: LBBWEXT004

    CustomerId:
      type: string
      maxLength: 10
      pattern: "\\d{1,10}"
      example: "43525748"
    
    ## Erweiterung ErrorObject aus json:api
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/JsonApiError' 
            
    JsonApiError:
      type: object
      properties:
        id:
          type: string
        status:
          type: string
        code:
          type: string
        title:
          type: string
        detail:
          type: string
  
  parameters:
    servicePathParam:
      name: service-path
      in: header
      description: Pfad mit Domäne und Servicename aus dem API-Verzeichnis. Wird zur Bildung der links verwendet.
      schema:
        type: string
        example: /customer/disclosure-service
    x-forwarded-protoParm:
      name:  x-forwarded-proto
      in: header
      description: Protokoll, mit dem der ursprüngliche API-Aufruf erfolgte
      schema:
        type: string
        example: https
    x-forwarded-hostParam:
      name: x-forwarded-host
      in: header
      description: Host, an den die ursprüngliche Anfrage ging. Wird zur Bildung der links verwendet
      schema:
        type: string
        format: url
  securitySchemes:
    EsbAuthorization:
      type: http
      scheme: basic
    
    appId:
      type: apiKey
      in: header
      name: x-app-id
      description: Applikationskürzel zum FIA-User (wird zur Zuordnung des Client benutzt)
