openapi: 3.0.1
info:
  title: Customer-RatingService API Description
  description: |2

    # Beschreibung
    Anhand der Kundensatznummer werden Rating-Informationen eines Kunden, die in OSP vorhanden sind, geliefert.
    Daten aus LBRating werden abendlich an OSPlus übertragen, können daher aus OSPlus als Servicegeber bereitgestellt werden.
    # Rahmenbedingungen
    Welche Rahmenbedingungen sind zu beachten, damit der Service genutzt werden kann, insbesondere
      - Rechte: Der aufrufende User muss in ESBConfig die Berechtigung zum Aufruf von Service 'DynsBA'/Domäne OSP besitzen. 
        Zur Abfrage von Daten zu Mitarbeitern (Organkennzeichen gesetzt) benötigt der zugeordnete SUSer das Privileg 'MITARBEITER'. 
        Falls das Zugriffsschutz-Kennzeichen einer gesuchten Personen gesetzt ist
        (ZUGRIFFSSCHUTZ_KZ = 'J' ), benötigt der Anwender das Privileg 'ZUGRIFF-PERS'.
      - Verfügbarkeitszeiten: Wann ist der Service verfügbar?
      - Offene Detailpunkte:
      - Rechte: Im Zielzustand sollte mit der Vergabe des Rechts zur Nutzung des Service auch alle darunterliegenden Rechte, die erforderlich sind, angelegt werden (Service-Gedanke)
      - Serviceparameter: weitergehende Regelungen wie Quotas etc. sind nicht Teil der Swagger-Dokumentation, sondern Parameter im API-Gateway, werden dort gepflegt und publiziert

    # Domäne/Subdomäne
      - der Service ist der fachlichen Domäne 'Customer'  zugeordnet.
     
    # IT-System(-nummer)
      -  IT-System: nicht bekannt
     
    # Offene Detailpunkte
      - Welche Eigenschaften erbt der Service von dem System?
      - Werden diese Eigenschaften beim Service im API-Verzeichnis mit publiziert (Komfort) und/oder das IT-System verlinkt.
      - Wird die Systemnummer publiziert?

    # Schutzniveau
    Schutz-Niveau des IT-Systems oder geringer

    # Release-Notes
    2020-05-14: V0.9.1  Datumsformat ISO yyyy-MM-dd

    # Status
    Version 0.9.0: ein MockUp Service. Dieser liefert eine Liste mit zwei Elementen 

    # Offene Detailpunkte
    Welche Ausprägungen bilden wir da ab? Mögliche Quellen: Statusausprägungen, die ApiOmat im Zuge Versionierung anbietet und/oder Packaging Konzepte z.B. für Python
  termsOfService: /agb
  contact:
    name: Nicholas Trawniczek
    url: http://api.lbbw.de
    email: Nicholas.Trawniczek@lbbw.de
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 0.9.1
  x-keywords: Rating, OSP
  x-logo:
    altText: LBBW logo
    url: https://www.lbbw.de/res/images/logos/lbbw-logo-darkblue_131586_m.svg
externalDocs:
  description: Diese Dokumentation basiert auf der Open Api Specification V3.
  url: https://github.com/OAI/OpenAPI-Specification
servers:
- url: https://api.bp.entw.bank.lbbw.sko.de/customer/rating-service/
  description: API-Verzeichnis
- url: https://esb.bp.entw.bank.lbbw.sko.de/customer/rating-service/
  description: ESB-Service Integrationsumgebung

tags:
  - name: get customer ratings information
    description: Kunden-Rating-Informationen aus OSPlus
  - name: rating_model
    x-displayName: Das Rating-Datenmodell
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/ratings" showReadOnly={true} showWriteOnly={true} />

x-tagGroups:
  - name: Rating
    tags:
      - get customer ratings information
  - name: Models
    tags:
      - rating_model

paths:
  /credits/{customerId}:
    parameters:
      - $ref: '#/components/parameters/servicePathParam'
      - $ref: '#/components/parameters/x-forwarded-protoParm'
      - $ref: '#/components/parameters/x-forwarded-hostParam'
    get:
      tags:
      - get customer ratings information
      summary: Abrufen der Rating-Daten
      description: Liefert aktuelle Rating-Daten zu einem Kunden-Datensatz zurück
      operationId: getRatingforCustomer
      parameters:
      - name: customerId
        in: path
        description: KUSA
        required: true
        schema:
          type: string
          maxLength: 10
          pattern: "\\d{1,10}"

      responses:
        200:
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/RatingResponse'
           
        204:
          description: No Rating Data found
          content: {}
          
        400:
          description: Invalid ID supplied
          content: 
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                    
security:
  - EsbAuthorization: []
    appId: []

components:
  schemas:
    RatingResponse:
      type: object
      properties: 
        data:
          type: array
          description: Liste der Ratings zur Person (KUSA)
          items:
            $ref: '#/components/schemas/Rating'
        links:
          type: object
          properties:
            self:
              type: string
              description: Link zu dieser Ressourcenabfrage
        
      example:
        data:
          - type: ratings
            id: '4711815'
            attributes:
                procedure: LANDB-Rating
                score: 2
                inheritance: RVP
                evaluation: Landesbankenrating
                subcategory: 'OB, da Bagatellregelung (<=50 TEUR)'
                klfg_procedure: LB_STANDARDR
                status: historisiert
                result_id: Nein
                creditworthiness: N
                method: R
                valuation_time: '2019-04-12T14:25:00.000+02:00'
          - type: ratings
            id: '1209987'
            attributes:
              procedure: LANDB-Rating
              score: 1
              inheritance: RVP
              evaluation: Landesbankenrating
              subcategory: 'OB, da Bagatellregelung (<=50 TEUR)'
              klfg_procedure: LB_STANDARDR
              status: freigegeben
              result_id: 'A-ZNAME, B-VNAME'
              creditworthiness: J
              method: R
              valuation_time: '2019-09-12T18:55:00.000+02:00'
        links:
          self: 'http://api.lbbw.de/customer/rating-service/credits/1'
    Rating:
      type: object
      properties:
        id:
          type: string
          description: eindeutiger Schlüssel der Rating-Daten
          example: 4711815
        type:
          type: string
          description: Objekt Type
          enum: [ratings]
          example: ratings
        attributes:
          type: object
          properties:
            procedure:
              description: "Ratingverfahren"
              example: "LANDB-Rating"
              type: "string"
            score:
              description: "Rating Score / Aktuelle Ratingnote"
              example: "2"
              type: "string"
            inheritance:
              description: "Vererbungsgrund"
              example: "RPV"
              type: "string"
            evaluation:
              description: "Einschätzungsverfahren"
              example: "Landesbankenrating"
              type: "string"
            subcategory:
              description: "Unterkategorie/Kopf- und Ratingdaten"
              example: "OB, da Bagatellregelung (<=50 TEUR)"
              type: "string"
            klfg_procedure:
              description: "KLFG Verfahren"
              example: "LB_STANDARDR"
              type: "string"
            status:
              description: "Rating Status"
              example: "freigegeben"
              type: "string"
            result_id:
              description: "Mitantragsteller/Notengeber / Name zu 'BASIS_RISIKO_ERGEBNIS_ID' oder 'nein'"
              example: "Nein"
              type: "string"
            creditworthiness:
              description: "Kennzeichnung der Rating führende Bonität"
              example: "J"
              type: "string"
              enum: ['J','N']
            method:
              description: "Rating-/Scoringnote"
              example: "J"
              type: "string"
            valuation_time:
              description: "Bewertung erfolgte am: Datum/Uhrzeit "
              example: "2019-04-12T14:25:00.000+02:00"
              type: "string"
              format: date-time
      description: Datenmodell Rating

      ## Erweiterung ErrorObject aus json:api
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/JsonApiError' 
            
    JsonApiError:
      type: object
      properties:
        id:
          type: string
        status:
          type: string
        code:
          type: string
        title:
          type: string
        detail:
          type: string
  
  parameters:
    servicePathParam:
      name: service-path
      in: header
      description: Pfad mit Domäne und Servicename aus dem API-Verzeichnis. Wird zur Bildung der links verwendet.
      schema:
        type: string
        example: /customer/customer-service
    x-forwarded-protoParm:
      name:  x-forwarded-proto
      in: header
      description: Protokoll, mit dem der ursprüngliche API-Aufruf erfolgte
      schema:
        type: string
        example: https
    x-forwarded-hostParam:
      name: x-forwarded-host
      in: header
      description: Host, an den die ursprüngliche Anfrage ging. Wird zur Bildung der links verwendet
      schema:
        type: string
        format: url
  securitySchemes:
    EsbAuthorization:
      type: http
      scheme: basic
    
    appId:
      type: apiKey
      in: header
      name: x-app-id
      description: Applikationskürzel zum FIA-User (wird zur Zuordnung des Client benutzt)

